body {
  background-color: black;
}

#navbar ul { 
    margin: 0; 
    padding: 5px; 
    cellspacing: 0;
    cellpadding: 0;
    border: 0;
    list-style-type: none; 
} 

#navbar ul li {
    display: inline; 
}

.menu_bar_entry {
  text-decoration: none; 
    padding: .2em 1em; 
  color: white;
  background-color: black;
}

.menu_bar_entry:hover {
  color: black;
  background-color: white;
}
